body {
    background-color: rgb(231, 211, 250);
}

h1 {
    color: rgb(0, 131, 22);
}

.btn-custom {
    background-color: rgb(204, 255, 197);
}

.btn-custom:hover {
    background-color: rgb(244, 255, 242);
}

.form-control {
    background-color: rgb(231, 211, 250);
    border-color: rgb(0, 131, 22);
    border-width: 2px;
}

.form-control:focus {
    background-color: rgb(246, 236, 255);
    box-shadow: none;
}

#chatBox {
    width: 100%;
}

#messages {
    height: 400px;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 8px;
    overflow-y: auto;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}